**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
ENV/
.venv
node_modules/
.next/
.git/
.gitignore
*.md
*.txt
!requirements.txt
.env
.env.local
*.log
.DS_Store
.vscode/
.idea/
tests/
*.db
*.sqlite
